@import "./_tailwind-variables.less";

@borderStyles: {
    Solid: solid;
    Dashed: dashed;
    Dotted: dotted;
    Double: double;
};

@borderWidths:
    1,
    2,
    4,
    8
;

@borderColors: {
    Gray: gray;
    Red: red;
    Orange: orange;
    Yellow: yellow;
    Green: green;
    Teal: teal;
    Blue: blue;
    Indigo: indigo;
    Purple: purple;
    Pink: pink;
};

@borderVariants:
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
;

.Borders .None {
    border-width: 0;
    border-color: transparent;
}

each(@borderStyles, .(@style) {
    each(@borderWidths, .(@width) {
        each(@borderColors, #(@colorValue, @colorKey) {
            each(@borderVariants, .(@variant) {
                .Borders .@{style} .@{width} .@{colorKey} .@{variant} {
                    border-width: unit(@width, px);
                    border-color: ~"@{colors-@{colorValue}-@{variant}}";
                    border-position: inside;
                    border-style: @style;
                }
            });
        });
    });
});
