@import "./_tailwind-variables.less";

@rootFontSize: 16px;

@variants:
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
;

@sizes:
    xs,
    sm,
    base,
    lg,
    xl,
    2xl,
    3xl,
    4xl,
    5xl,
    6xl
;

@weights-mono:
    400,
    700,
;

@weights-sans:
    100,
    200,
    400,
    500,
    600,
    700,
    800,
    900,
;

@weights-serif:
    400,
    700,
;

@lineheights: {
    none: 1;
    tight: 1.25;
    snug: 1.375;
    normal: 1.5;
    relaxed: 1.625;
    loose: 2;
};

@styles:
    italic,
    normal
;

@families: {
    sans: "SF Pro Display";
    serif: Georgia;
    mono: Menlo;
};

each(@families, .(@fontName, @family) {
    each(@sizes, .(@size) {
        @fontSize: "fontSize-@{size}";
        @fontSizePx: @rootFontSize * @@fontSize;
        @weights: "weights-@{family}";
        each(@@weights, .(@weight) {
            each(@styles, .(@style) {
                each(@lineheights, .(@lineheight, @lineheightName) {
                        .@{family} .@{fontSizePx}__-__@{size} .@{style} .@{weight} .Lineheight__-__@{lineheightName} {
                            font-family: @fontName;
                            font-size: @fontSizePx;
                            font-weight: @weight;
                            font-style: @style;
                            color: black;
                            line-height: @lineheight;
                        }
                });
            });
        });
    });
});
